<div class="container top-space">
  <div class="row">
    <div class="col-xs-3">
      <h4><a href="/elements/macbook-pro" title="Macbook Pro">Macbook Pro</a></h4>
      <h6>Reference</h6>
      <a href="http://codepen.io/joshnh/pen/JCGoF" title="">http://codepen.io/joshnh/pen/JCGoF</a>
    </div>
  </div>
</div>
