extends layout

block content
  .container.top-space
    .row
      .col-xs-3
        h4
          a(href="/elements/macbook-pro" title="Macbook Pro") Macbook Pro
        h6 Reference:
        a(href="http://codepen.io/joshnh/pen/JCGoF") http://codepen.io/joshnh/pen/JCGoF
    .row
      .col-xs-3
        h4
          a(href="/elements/directional-arrows" title="Directional Arrows")  Directional Arrows
        h6 Reference:
        a(href="http://codepen.io/chrisota/pen/KpmVQZ") http://codepen.io/chrisota/pen/KpmVQZ


