extends layout

block content
  .chrome-tabs-shell
    .chrome-tabs
      .chrome-tab
        .chrome-tab-title Google
        .chrome-tab-close
        .chrome-tab-curves
          .chrome-tab-curves-left-shadow
          .chrome-tab-curves-left-highlight
          .chrome-tab-curves-left
          .chrome-tab-curves-right-shadow
          .chrome-tab-curves-right-highlight
          .chrome-tab-curves-right
      .chrome-tab.chrome-tab-current
        .chrome-tab-title Facebook
        .chrome-tab-close
        .chrome-tab-curves
          .chrome-tab-curves-left-shadow
          .chrome-tab-curves-left-highlight
          .chrome-tab-curves-left
          .chrome-tab-curves-right-shadow
          .chrome-tab-curves-right-highlight
          .chrome-tab-curves-right
      .chrome-tab
        .chrome-tab-title Twitter
        .chrome-tab-close
        .chrome-tab-curves
          .chrome-tab-curves-left-shadow
          .chrome-tab-curves-left-highlight
          .chrome-tab-curves-left
          .chrome-tab-curves-right-shadow
          .chrome-tab-curves-right-highlight
          .chrome-tab-curves-right
      .chrome-tab
        .chrome-tab-title LinkedIn
        .chrome-tab-close
        .chrome-tab-curves
          .chrome-tab-curves-left-shadow
          .chrome-tab-curves-left-highlight
          .chrome-tab-curves-left
          .chrome-tab-curves-right-shadow
          .chrome-tab-curves-right-highlight
          .chrome-tab-curves-right


