extends layout

block content
  nav
    ul
      li
        a(href="#")
          span
            | ABOUT
          span.left
            | ABOUT
      li
        a(href="#")
          img(src="http://s.cdpn.io/47585/sdlogo.svg")
      li
        a(href="#")
          span
            | CONTACT
          span.right
            | CONTACT
  .bottom-border

