<nav>
  <ul>
    <li>
      <a href="#">
        <span>
          ABOUT
        </span>
        <span class="left">
          ABOUT

        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="http://s.cdpn.io/47585/sdlogo.svg"/>

      </a>
    </li>
    <li>
      <a href="#">
        <span>
          CONTACT
        </span>
        <span class="right">
          CONTACT
        </span>
      </a>
    </li>
  </ul>
</nav>
<div class="bottom-border">
</div>
