extends layout

block content
  .container
    .row
      h2.text-center Front-End Helper
    .row
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/animation-menu")
            img.media-object(width="200px", height="200px" src="/images/preview/animation-menu.png")
        .media-body
          h4.media-heading
            a(href="/animation/animation-menu") Animation Menu
          h6 Reference:
          a(href="http://codepen.io/scottdavis/pen/rEwqp", title="") http://codepen.io/scottdavis/pen/rEwqp
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/alternative-js-clock")
            img.media-object(width="200px", height="200px" src="/images/preview/alternative-js-clock.png")
        .media-body
          h4.media-heading
            a(href="/animation/alternative-js-clock") Alternative JS Clock
          h6 Reference:
          a(href="http://cssdeck.com/labs/k0lb4giv", title="") http://cssdeck.com/labs/k0lb4giv
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/reloj")
            img.media-object(width="200px", height="200px" src="/images/preview/reloj.png")
        .media-body
          h4.media-heading
            a(href="/animation/reloj") Reloj
          h6 Reference:
          a(href="http://codepen.io/fernandocasaliba/pen/vOdqYP", title="") http://codepen.io/fernandocasaliba/pen/vOdqYP
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/sliding-radio-button-menu")
            img.media-object(width="200px", height="200px" src="/images/preview/sliding-radio-button-menu.png")
        .media-body
          h4.media-heading
            a(href="/animation/sliding-radio-button-menu") Slide Radio Button Menu
          h6 Reference:
          a(href="http://codepen.io/rileyjshaw/pen/Nqqxaj", title="") http://codepen.io/rileyjshaw/pen/Nqqxaj
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/animate-timer")
            img.media-object(width="200px", height="200px" src="/images/preview/animate-timer.png")
        .media-body
          h4.media-heading
            a(href="/animation/animate-timer") Animate Timer
          h6 Reference:
          a(href="http://codepen.io/paulnoble/pen/NqxdLm", title="") http://codepen.io/paulnoble/pen/NqxdLm
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/thank-you-animation")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/animation/thank-you-animation") Thank You Animation
          h6 Reference:
          a(href="http://codepen.io/rachsmith/pen/doNVQe", title="") http://codepen.io/rachsmith/pen/doNVQe
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/animation/animating-gradient")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/animation/animating-gradient") Animating Gradient
          h6 Reference:
          a(href="http://codepen.io/codycurley/pen/bdqevE", title="") http://codepen.io/codycurley/pen/bdqevE
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/elements/macbook-pro")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/elements/macbook-pro") Macbook Pro
          h6 Reference:
          a(href="http://codepen.io/joshnh/pen/JCGoF", title="") http://codepen.io/joshnh/pen/JCGoF
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/elements/directional-arrows")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/elements/directional-arrows") Directional Arrows
          h6 Reference:
          a(href="http://codepen.io/chrisota/pen/KpmVQZ", title="") http://codepen.io/chrisota/pen/KpmVQZ
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/elements/shaped-title")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/elements/shaped-title") Shaped Title
          h6 Reference:
          a(href="http://codepen.io/ronnidc/pen/jPLpVX", title="") http://codepen.io/ronnidc/pen/jPLpVX
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/tabs/chrome-tabs")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/tabs/chrome-tabs") Chrome Tabs
          h6 Reference:
          a(href="https://github.com/adamschwartz/chrome-tabs", title="") https://github.com/adamschwartz/chrome-tabs
      .col-xs-12.col-md-6.col-lg-6.space
        .media-left
          a(href="/tabs/chrome-tabs")
            img.media-object(width="200px", height="200px")
        .media-body
          h4.media-heading
            a(href="/tabs/tabs-widget") Tabs Widget
          h6 Reference:
          a(href="http://www.sitepoint.com/you-dont-need-javascript-for-that", title="") http://www.sitepoint.com/you-dont-need-javascript-for-that
