<div class="container">
  <div class="row">
    <h2 class="text-center">Front-End Helper</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/animation-menu">
          <img class="media-object" width="200px" height="200px" src="/images/preview/animation-menu.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/animation-menu">Animation Menu</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/scottdavis/pen/rEwqp" title="">http://codepen.io/scottdavis/pen/rEwqp</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/alternative-js-clock">
          <img class="media-object" width="200px" height="200px" src="/images/preview/alternative-js-clock.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/alternative-js-clock">Alternative JS Clock</a></h4>
        <h6>Reference:</h6>
        <a href="http://cssdeck.com/labs/k0lb4giv" title="">http://cssdeck.com/labs/k0lb4giv</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/reloj">
          <img class="media-object" width="200px" height="200px" src="/images/preview/reloj.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/reloj">Reloj</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/fernandocasaliba/pen/vOdqYP" title="">http://codepen.io/fernandocasaliba/pen/vOdqYP</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/sliding-radio-button-menu">
          <img class="media-object" width="200px" height="200px" src="/images/preview/sliding-radio-button-menu.png "/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/sliding-radio-button-menu">Slide Radio Button Menu</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/rileyjshaw/pen/Nqqxaj" title="">http://codepen.io/rileyjshaw/pen/Nqqxaj</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/animate-timer">
          <img class="media-object" width="200px" height="200px" src="/images/preview/animate-timer.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/animate-timer">Animate Timer</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/paulnoble/pen/NqxdLm" title="">http://codepen.io/paulnoble/pen/NqxdLm</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/thank-you-animation">
          <img class="media-object" width="200px" height="200px" src="/images/preview/thank-you-animation.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/thank-you-animation">Thank You Animation</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/rachsmith/pen/doNVQe" title="">http://codepen.io/rachsmith/pen/doNVQe</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/animation/animating-gradient">
          <img class="media-object" width="200px" height="200px" src="/images/preview/animating-gradient.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/animation/animating-gradient">Animating Gradient</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/codycurley/pen/bdqevE"title="">http://codepen.io/codycurley/pen/bdqevE</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/elements/macbook-pro">
          <img class="media-object" width="200px" height="200px" src="/images/preview/macbook-pro.png" />
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/elements/macbook-pro">Macbook Pro</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/joshnh/pen/JCGoF"title="">http://codepen.io/joshnh/pen/JCGoF</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/elements/directional-arrows">
          <img class="media-object" width="200px" height="200px" src="/images/preview/directional-arrows.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/elements/directional-arrows">Directional Arrows</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/chrisota/pen/KpmVQZ"title="">http://codepen.io/chrisota/pen/KpmVQZ</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/elements/shaped-title">
          <img class="media-object" width="200px" height="200px" src="/images/preview/shaped-title.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/elements/shaped-title">Shaped Title</a></h4>
        <h6>Reference:</h6>
        <a href="http://codepen.io/ronnidc/pen/jPLpVX"title="">http://codepen.io/ronnidc/pen/jPLpVX</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/tabs/chrome-tabs">
          <img class="media-object" width="200px" height="200px" src="/images/preview/chrome-tabs.png" />
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/tabs/chrome-tabs">Chrome Tabs</a></h4>
        <h6>Reference:</h6>
        <a href="https://github.com/adamschwartz/chrome-tabs"title="">https://github.com/adamschwartz/chrome-tabs</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 space">
      <div class="media-left">
        <a href="/tabs/tabs-widget">
          <img class="media-object" width="200px" height="200px" src="/images/preview/tabs-widget.png"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/tabs/tabs-widget">Tabs Widget</a></h4>
        <h6>Reference:</h6>
        <a href="http://www.sitepoint.com/you-dont-need-javascript-for-that"title="">http://www.sitepoint.com/you-dont-need-javascript-for-that</a>
      </div>
    </div>
</div>
