<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2><a href="/tabs" title="Tabs">Tabs</a></h2>
    </div>
    <div class="col-xs-3">
      <h2><a href="/animation" title="Animation">Animation</a></h2>
    </div>
  </div>
</div>
