<div class="arrow-wrapper">
  <div class="arrow" id="arrow-up">
    &#8625;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-right-up">
    &#8599;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-right">
    &#8625;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-right-down">
    &#8600;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-u-right">
    &#8631;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-left-up">
    &#8598;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-left">
    &#8624;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-left-down">
    &#8601;
  </div>
</div>

<div class="arrow-wrapper">
  <div class="arrow" id="arrow-u-left">
    &#8630;
  </div>
</div>
