extends layout

block content
  .arrow-wrapper
    #arrow-up.arrow
      | &#8625;
  .arrow-wrapper
    #arrow-right-up.arrow
      | &#8599;
  .arrow-wrapper
    #arrow-right.arrow
      | &#8625;
  .arrow-wrapper
    #arrow-right-down.arrow
      | &#8600;
  .arrow-wrapper
    #arrow-u-right.arrow
      | &#8631;
  .arrow-wrapper
    #arrow-left-up.arrow
      | &#8598;
  .arrow-wrapper
    #arrow-left.arrow
      | &#8624;
  .arrow-wrapper
    #arrow-left-down.arrow
      | &#8601;
  .arrow-wrapper
    #arrow-u-left.arrow
      | &#8630;
