doctype html
html
  head
    title Front-End Helper
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Front-End Helper')
    meta(name='author', content='Anton Nikolenko')
    meta(name='keywords', content='html,js,javascript')
    link(rel='stylesheet', href='/stylesheets/animation/thank-you-animation/style.css')
  body
    block content
    script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js")
    script(src='/javascripts/animation/thank-you-animation/index.js')

