@import url(http://fonts.googleapis.com/css?family=Oswald:700);
body {
  background: #ce526f;
  overflow: hidden;
  width: 100%;
}

svg {
  width: 600px;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 0;
}
svg text {
  fill: #fff;
  font-family: 'Oswald';
  font-weight: 700;
}
svg text tspan {
  padding: 0;
  margin: 0;
  opacity: 0;
}
svg line, svg polyline, svg ellipse, svg path {
  stroke: #fff;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 6;
  opacity: 0;
  stroke-miterlimit: 10;
}
svg .dec {
  stroke-width: 3;
}
svg .underline {
  stroke-width: 6;
  stroke-linecap: butt;
  opacity: 1;
}
svg .dot {
  opacity: 1;
}
svg .purple {
  stroke: #B191FF;
}
svg .lime {
  stroke: #DCE2AA;
}
svg .plum {
  stroke: #843B62;
}
svg .blue {
  stroke: #241E4E;
}

#play {
  font-size: 10px;
  color: #fff;
  display: block;
  position: 'relative';
  margin: 0 auto;
  width: 200px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  opacity: 0;
}
