body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer{
  border-top:1px solid #c8c8c8;
  padding-top: 25px;
  position: absolute;
  height: auto;
}

.space{
  margin-top: 50px;
  margin-bottom: 50px;
}

.space img{
  border: 1px solid black;
}
