doctype html
html
  head
    title Front-End Helper
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Front-End Helper')
    meta(name='author', content='Anton Nikolenko')
    meta(name='keywords', content='html,js,javascript')
    link(rel='stylesheet', href='/stylesheets/animation/alternative-js-clock/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/animation/alternative-js-clock/alternative-js-clock.js')
