extends layout

block content
  .background.blue-purple
  .background.green-blue
  .svg-wrapper
    svg#carpenter-logo(version="1.0", width="273px", height="72px", viewbox="0 0 273 72", enable-background="new 0 0 273 72", xml:space="preserve")
      g#Carpenter
        path(fill="none", d="M96.959,39.582c0.171,0,0.29,0.138,0.264,0.308\
        c0,0-0.276,1.785-0.689,2.699c-0.413,0.914-0.983,1.697-1.71,2.351c-0.728,0.654-1.609,1.165-2.646,1.533\
        c-1.037,0.369-2.218,0.553-3.545,0.553c-1.376,0-2.611-0.238-3.707-0.715c-1.096-0.477-2.024-1.162-2.786-2.056\
        c-0.762-0.894-1.346-1.977-1.754-3.25c-0.408-1.272-0.612-2.7-0.612-4.282v-1.104c0-0.171,0.01-0.451,0.022-0.622\
        c0,0,0.189-2.701,0.612-3.979c0.422-1.277,1.02-2.363,1.791-3.258c0.771-0.894,1.707-1.582,2.808-2.064\
        c1.1-0.481,2.329-0.722,3.685-0.722c1.336,0,2.518,0.189,3.545,0.567c1.027,0.378,1.899,0.904,2.616,1.577\
        c0.717,0.673,1.277,1.474,1.681,2.402c0.403,0.929,0.658,1.938,0.766,3.029h-4.111c-0.171,0-0.33-0.139-0.352-0.308\
        c0,0-0.119-0.895-0.291-1.386c-0.172-0.491-0.42-0.904-0.744-1.238c-0.324-0.334-0.742-0.587-1.253-0.759\
        c-0.511-0.172-1.13-0.258-1.857-0.258c-1.494,0-2.607,0.543-3.339,1.629c-0.732,1.086-1.098,2.769-1.098,5.048v1.133\
        c0,0.171,0.005,0.451,0.012,0.622c0,0,0.069,1.773,0.231,2.608c0.162,0.835,0.418,1.533,0.766,2.093\
        c0.349,0.56,0.801,0.98,1.356,1.26c0.555,0.28,1.226,0.42,2.012,0.42c0.697,0,1.299-0.079,1.805-0.236\
        c0.506-0.157,0.928-0.396,1.268-0.715c0.339-0.319,0.602-0.72,0.788-1.201c0.187-0.481,0.305-1.041,0.354-1.68H96.959z")
        path(fill="none", d="M114.618,42.603c-0.055-0.162-0.239-0.295-0.41-0.295h-7.13\
        c-0.171,0-0.355,0.133-0.41,0.295l-1.277,3.831c-0.054,0.162-0.238,0.295-0.41,0.295h-4.079c-0.171,0-0.262-0.131-0.203-0.292\
        l7.771-20.877c0.06-0.16,0.249-0.292,0.42-0.292h3.475c0.171,0,0.36,0.131,0.42,0.291l7.815,20.878\
        c0.06,0.16-0.031,0.291-0.202,0.291h-4.08c-0.171,0-0.356-0.133-0.41-0.295L114.618,42.603z M108.058,38.431\
        c-0.054,0.162,0.042,0.295,0.213,0.295h4.743c0.171,0,0.267-0.133,0.212-0.295l-2.499-7.443c-0.054-0.162-0.143-0.162-0.197,0\
        L108.058,38.431z")
        path(fill="none", d="M133.947,39.151c-0.078-0.152-0.282-0.277-0.453-0.277h-2.9\
        c-0.171,0-0.311,0.14-0.311,0.311v7.234c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581\
        c0-0.171,0.14-0.311,0.311-0.311h7.352c0.171,0,0.451,0.008,0.622,0.019c0,0,2.038,0.122,3.02,0.401\
        c0.983,0.28,1.813,0.693,2.491,1.238c0.678,0.546,1.199,1.221,1.562,2.027c0.363,0.806,0.545,1.739,0.545,2.8\
        c0,0.786-0.088,1.491-0.265,2.115c-0.177,0.624-0.433,1.179-0.766,1.665c-0.334,0.487-0.737,0.912-1.209,1.275\
        c-0.472,0.363-1.002,0.678-1.592,0.943l4.497,8.495c0.08,0.151,0.146,0.321,0.146,0.378s-0.14,0.103-0.311,0.103h-4.124\
        c-0.171,0-0.375-0.125-0.453-0.277L133.947,39.151z M130.282,34.981c0,0.171,0.14,0.311,0.311,0.311h2.945\
        c0.171,0,0.451-0.01,0.622-0.022c0,0,0.778-0.054,1.215-0.207c0.437-0.152,0.801-0.368,1.091-0.649\
        c0.29-0.28,0.508-0.614,0.656-1.002c0.147-0.388,0.221-0.823,0.221-1.304c0-1.012-0.287-1.808-0.862-2.388\
        c-0.575-0.58-1.457-0.869-2.645-0.869h-3.241c-0.171,0-0.311,0.14-0.311,0.311V34.981z")
        path(fill="none", d="M152.875,39.169c-0.171,0-0.311,0.14-0.311,0.311v6.939\
        c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h7.75\
        c0.171,0,0.451,0.01,0.622,0.023c0,0,2.09,0.154,3.087,0.508c0.997,0.354,1.843,0.848,2.535,1.481\
        c0.693,0.634,1.221,1.385,1.585,2.255c0.363,0.869,0.545,1.816,0.545,2.837c0,1.042-0.182,1.98-0.545,2.815\
        c-0.364,0.835-0.892,1.548-1.585,2.137c-0.693,0.59-1.538,1.044-2.535,1.363c-0.997,0.319-2.13,0.479-3.397,0.479H152.875z\
        M152.564,35.276c0,0.171,0.14,0.311,0.311,0.311h3.328c0.171,0,0.451-0.009,0.622-0.021c0,0,0.861-0.058,1.318-0.215\
        c0.457-0.157,0.83-0.376,1.12-0.656c0.29-0.28,0.504-0.617,0.641-1.01c0.137-0.393,0.206-0.821,0.206-1.282\
        c0-0.462-0.069-0.907-0.206-1.334c-0.138-0.428-0.351-0.806-0.641-1.135c-0.29-0.329-0.663-0.592-1.12-0.788\
        c-0.457-0.197-1-0.295-1.629-0.295h-3.639c-0.171,0-0.311,0.14-0.311,0.311V35.276z")
        path(fill="none", d="M182.792,37.118c0,0.171-0.14,0.311-0.311,0.311h-7.867\
        c-0.171,0-0.311,0.14-0.311,0.311v5.126c0,0.171,0.14,0.311,0.311,0.311h9.341c0.171,0,0.311,0.14,0.311,0.311v2.93\
        c0,0.171-0.14,0.311-0.311,0.311h-13.763c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h13.734\
        c0.171,0,0.311,0.14,0.311,0.311v2.959c0,0.171-0.14,0.311-0.311,0.311h-9.312c-0.171,0-0.311,0.14-0.311,0.311v4.492\
        c0,0.171,0.14,0.311,0.311,0.311h7.867c0.171,0,0.311,0.14,0.311,0.311V37.118z")
        path(fill="none", d="M207.706,46.419c0,0.171-0.14,0.311-0.311,0.311h-3.799\
        c-0.171,0-0.384-0.12-0.473-0.266l-8.284-13.589c-0.089-0.146-0.162-0.126-0.162,0.045v13.498c0,0.171-0.14,0.311-0.311,0.311\
        h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h3.799c0.171,0,0.384,0.12,0.473,0.266\
        l8.299,13.618c0.089,0.146,0.162,0.126,0.162-0.045V25.581c0-0.171,0.14-0.311,0.311-0.311h3.785c0.171,0,0.311,0.14,0.311,0.311\
        V46.419z")
        path(fill="none", d="M230.271,28.54c0,0.171-0.14,0.311-0.311,0.311h-5.951\
        c-0.171,0-0.311,0.14-0.311,0.311v17.256c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V29.163\
        c0-0.171-0.14-0.311-0.311-0.311h-5.863c-0.171,0-0.311-0.14-0.311-0.311v-2.959c0-0.171,0.14-0.311,0.311-0.311h16.858\
        c0.171,0,0.311,0.14,0.311,0.311V28.54z")
        path(fill="none", d="M248.258,37.118c0,0.171-0.14,0.311-0.311,0.311h-7.867\
        c-0.171,0-0.311,0.14-0.311,0.311v5.126c0,0.171,0.14,0.311,0.311,0.311h9.341c0.171,0,0.311,0.14,0.311,0.311v2.93\
        c0,0.171-0.14,0.311-0.311,0.311h-13.763c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h13.734\
        c0.171,0,0.311,0.14,0.311,0.311v2.959c0,0.171-0.14,0.311-0.311,0.311h-9.312c-0.171,0-0.311,0.14-0.311,0.311v4.492\
        c0,0.171,0.14,0.311,0.311,0.311h7.867c0.171,0,0.311,0.14,0.311,0.311V37.118z")
        path(fill="none", d="M263.806,39.151c-0.078-0.152-0.282-0.277-0.453-0.277h-2.9\
        c-0.171,0-0.311,0.14-0.311,0.311v7.234c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581\
        c0-0.171,0.14-0.311,0.311-0.311h7.352c0.171,0,0.451,0.008,0.622,0.019c0,0,2.038,0.122,3.02,0.401\
        c0.983,0.28,1.813,0.693,2.491,1.238c0.678,0.546,1.199,1.221,1.562,2.027c0.363,0.806,0.545,1.739,0.545,2.8\
        c0,0.786-0.088,1.491-0.265,2.115c-0.177,0.624-0.433,1.179-0.766,1.665c-0.334,0.487-0.737,0.912-1.209,1.275\
        c-0.472,0.363-1.002,0.678-1.592,0.943l4.497,8.495c0.08,0.151,0.146,0.321,0.146,0.378s-0.14,0.103-0.311,0.103h-4.124\
        c-0.171,0-0.375-0.125-0.453-0.277L263.806,39.151z M260.142,34.981c0,0.171,0.14,0.311,0.311,0.311h2.945\
        c0.171,0,0.451-0.01,0.622-0.022c0,0,0.778-0.054,1.215-0.207c0.437-0.152,0.801-0.368,1.091-0.649\
        c0.29-0.28,0.508-0.614,0.656-1.002c0.147-0.388,0.221-0.823,0.221-1.304c0-1.012-0.287-1.808-0.862-2.388\
        c-0.575-0.58-1.457-0.869-2.645-0.869h-3.241c-0.171,0-0.311,0.14-0.311,0.311V34.981z")
      g#Mark
        path(fill="none", d="M0.5,36c0-0.067,0.017-0.134,0.052-0.194L20.697,0.914\
        c0.069-0.12,0.197-0.194,0.336-0.194h3.582c0.139,0,0.267,0.074,0.336,0.194c0.069,0.12,0.069,0.268,0,0.388L13.017,21.971H22.5\
        L34.657,0.914c0.069-0.12,0.197-0.194,0.336-0.194h3.582c0.139,0,0.267,0.074,0.336,0.194c0.069,0.12,0.069,0.268,0,0.388\
        l-18.914,32.76h9.482L48.618,0.914c0.069-0.12,0.197-0.194,0.336-0.194c0.139,0,0.267,0.074,0.336,0.194l8.771,15.192\
        c0.069,0.12,0.069,0.268,0,0.388L46.799,36L58.06,55.506c0.069,0.12,0.069,0.268,0,0.388l-8.771,15.192\
        c-0.069,0.12-0.197,0.194-0.336,0.194c-0.139,0-0.267-0.074-0.336-0.194L36.46,50.029h-9.482l11.934,20.669\
        c0.069,0.12,0.069,0.268,0,0.388c-0.069,0.12-0.197,0.194-0.336,0.194h-3.582c-0.139,0-0.267-0.074-0.336-0.194L15.52,37.939\
        H6.037l18.914,32.759c0.069,0.12,0.069,0.268,0,0.388c-0.069,0.12-0.197,0.194-0.336,0.194h-3.582\
        c-0.139,0-0.267-0.074-0.336-0.194L0.552,36.194C0.517,36.134,0.5,36.067,0.5,36z M10.779,25.849l-4.741,8.212h9.482l4.741-8.212\
        H10.779z M29.48,37.939h-9.482l4.741,8.212h9.482L29.48,37.939z M48.953,8.088L32.838,36l4.741,8.212L53.695,16.3L48.953,8.088z\
        M44.56,39.878l-4.741,8.212l9.135,15.822l4.741-8.212L44.56,39.878z")
  .svg-wrapper
    svg#carpenter-white(version="1.0", width="273px", height="72px", viewbox="0 0 273 72", enable-background="new 0 0 273 72", xml:space="preserve")
      path(d="M96.959,39.582c0.171,0,0.29,0.138,0.264,0.308c0,0-0.276,1.785-0.689,2.699\
      c-0.413,0.914-0.983,1.697-1.71,2.351c-0.728,0.654-1.609,1.165-2.646,1.533c-1.037,0.369-2.218,0.553-3.545,0.553\
      c-1.376,0-2.611-0.238-3.707-0.715c-1.096-0.477-2.024-1.162-2.786-2.056c-0.762-0.894-1.346-1.977-1.754-3.25\
      c-0.408-1.272-0.612-2.7-0.612-4.282v-1.104c0-0.171,0.01-0.451,0.022-0.622c0,0,0.189-2.701,0.612-3.979\
      c0.422-1.277,1.02-2.363,1.791-3.258c0.771-0.894,1.707-1.582,2.808-2.064c1.1-0.481,2.329-0.722,3.685-0.722\
      c1.336,0,2.518,0.189,3.545,0.567c1.027,0.378,1.899,0.904,2.616,1.577c0.717,0.673,1.277,1.474,1.681,2.402\
      c0.403,0.929,0.658,1.938,0.766,3.029h-4.111c-0.171,0-0.33-0.139-0.352-0.308c0,0-0.119-0.895-0.291-1.386\
      c-0.172-0.491-0.42-0.904-0.744-1.238c-0.324-0.334-0.742-0.587-1.253-0.759c-0.511-0.172-1.13-0.258-1.857-0.258\
      c-1.494,0-2.607,0.543-3.339,1.629c-0.732,1.086-1.098,2.769-1.098,5.048v1.133c0,0.171,0.005,0.451,0.012,0.622\
      c0,0,0.069,1.773,0.231,2.608c0.162,0.835,0.418,1.533,0.766,2.093c0.349,0.56,0.801,0.98,1.356,1.26\
      c0.555,0.28,1.226,0.42,2.012,0.42c0.697,0,1.299-0.079,1.805-0.236c0.506-0.157,0.928-0.396,1.268-0.715\
      c0.339-0.319,0.602-0.72,0.788-1.201c0.187-0.481,0.305-1.041,0.354-1.68H96.959z")
      path(d="M114.618,42.603c-0.055-0.162-0.239-0.295-0.41-0.295h-7.13c-0.171,0-0.355,0.133-0.41,0.295l-1.277,3.831\
      c-0.054,0.162-0.238,0.295-0.41,0.295h-4.079c-0.171,0-0.262-0.131-0.203-0.292l7.771-20.877c0.06-0.16,0.249-0.292,0.42-0.292\
      h3.475c0.171,0,0.36,0.131,0.42,0.291l7.815,20.878c0.06,0.16-0.031,0.291-0.202,0.291h-4.08c-0.171,0-0.356-0.133-0.41-0.295\
      L114.618,42.603z M108.058,38.431c-0.054,0.162,0.042,0.295,0.213,0.295h4.743c0.171,0,0.267-0.133,0.212-0.295l-2.499-7.443\
      c-0.054-0.162-0.143-0.162-0.197,0L108.058,38.431z")
      path(d="M133.947,39.151c-0.078-0.152-0.282-0.277-0.453-0.277h-2.9c-0.171,0-0.311,0.14-0.311,0.311v7.234\
      c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h7.352\
      c0.171,0,0.451,0.008,0.622,0.019c0,0,2.038,0.122,3.02,0.401c0.983,0.28,1.813,0.693,2.491,1.238\
      c0.678,0.546,1.199,1.221,1.562,2.027c0.363,0.806,0.545,1.739,0.545,2.8c0,0.786-0.088,1.491-0.265,2.115\
      c-0.177,0.624-0.433,1.179-0.766,1.665c-0.334,0.487-0.737,0.912-1.209,1.275c-0.472,0.363-1.002,0.678-1.592,0.943l4.497,8.495\
      c0.08,0.151,0.146,0.321,0.146,0.378s-0.14,0.103-0.311,0.103h-4.124c-0.171,0-0.375-0.125-0.453-0.277L133.947,39.151z\
      M130.282,34.981c0,0.171,0.14,0.311,0.311,0.311h2.945c0.171,0,0.451-0.01,0.622-0.022c0,0,0.778-0.054,1.215-0.207\
      c0.437-0.152,0.801-0.368,1.091-0.649c0.29-0.28,0.508-0.614,0.656-1.002c0.147-0.388,0.221-0.823,0.221-1.304\
      c0-1.012-0.287-1.808-0.862-2.388c-0.575-0.58-1.457-0.869-2.645-0.869h-3.241c-0.171,0-0.311,0.14-0.311,0.311V34.981z")
      path(d="M152.875,39.169c-0.171,0-0.311,0.14-0.311,0.311v6.939c0,0.171-0.14,0.311-0.311,0.311h-3.799\
      c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h7.75c0.171,0,0.451,0.01,0.622,0.023\
      c0,0,2.09,0.154,3.087,0.508c0.997,0.354,1.843,0.848,2.535,1.481c0.693,0.634,1.221,1.385,1.585,2.255\
      c0.363,0.869,0.545,1.816,0.545,2.837c0,1.042-0.182,1.98-0.545,2.815c-0.364,0.835-0.892,1.548-1.585,2.137\
      c-0.693,0.59-1.538,1.044-2.535,1.363c-0.997,0.319-2.13,0.479-3.397,0.479H152.875z M152.564,35.276\
      c0,0.171,0.14,0.311,0.311,0.311h3.328c0.171,0,0.451-0.009,0.622-0.021c0,0,0.861-0.058,1.318-0.215\
      c0.457-0.157,0.83-0.376,1.12-0.656c0.29-0.28,0.504-0.617,0.641-1.01c0.137-0.393,0.206-0.821,0.206-1.282\
      c0-0.462-0.069-0.907-0.206-1.334c-0.138-0.428-0.351-0.806-0.641-1.135c-0.29-0.329-0.663-0.592-1.12-0.788\
      c-0.457-0.197-1-0.295-1.629-0.295h-3.639c-0.171,0-0.311,0.14-0.311,0.311V35.276z")
      path(d="M182.792,37.118c0,0.171-0.14,0.311-0.311,0.311h-7.867c-0.171,0-0.311,0.14-0.311,0.311v5.126\
      c0,0.171,0.14,0.311,0.311,0.311h9.341c0.171,0,0.311,0.14,0.311,0.311v2.93c0,0.171-0.14,0.311-0.311,0.311h-13.763\
      c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h13.734c0.171,0,0.311,0.14,0.311,0.311v2.959\
      c0,0.171-0.14,0.311-0.311,0.311h-9.312c-0.171,0-0.311,0.14-0.311,0.311v4.492c0,0.171,0.14,0.311,0.311,0.311h7.867\
      c0.171,0,0.311,0.14,0.311,0.311V37.118z")
      path(d="M207.706,46.419c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.384-0.12-0.473-0.266l-8.284-13.589\
      c-0.089-0.146-0.162-0.126-0.162,0.045v13.498c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581\
      c0-0.171,0.14-0.311,0.311-0.311h3.799c0.171,0,0.384,0.12,0.473,0.266l8.299,13.618c0.089,0.146,0.162,0.126,0.162-0.045V25.581\
      c0-0.171,0.14-0.311,0.311-0.311h3.785c0.171,0,0.311,0.14,0.311,0.311V46.419z")
      path(d="M230.271,28.54c0,0.171-0.14,0.311-0.311,0.311h-5.951c-0.171,0-0.311,0.14-0.311,0.311v17.256\
      c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V29.163c0-0.171-0.14-0.311-0.311-0.311h-5.863\
      c-0.171,0-0.311-0.14-0.311-0.311v-2.959c0-0.171,0.14-0.311,0.311-0.311h16.858c0.171,0,0.311,0.14,0.311,0.311V28.54z")
      path(d="M248.258,37.118c0,0.171-0.14,0.311-0.311,0.311h-7.867c-0.171,0-0.311,0.14-0.311,0.311v5.126\
      c0,0.171,0.14,0.311,0.311,0.311h9.341c0.171,0,0.311,0.14,0.311,0.311v2.93c0,0.171-0.14,0.311-0.311,0.311h-13.763\
      c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h13.734c0.171,0,0.311,0.14,0.311,0.311v2.959\
      c0,0.171-0.14,0.311-0.311,0.311h-9.312c-0.171,0-0.311,0.14-0.311,0.311v4.492c0,0.171,0.14,0.311,0.311,0.311h7.867\
      c0.171,0,0.311,0.14,0.311,0.311V37.118z")
      path(d="M263.806,39.151c-0.078-0.152-0.282-0.277-0.453-0.277h-2.9c-0.171,0-0.311,0.14-0.311,0.311v7.234\
      c0,0.171-0.14,0.311-0.311,0.311h-3.799c-0.171,0-0.311-0.14-0.311-0.311V25.581c0-0.171,0.14-0.311,0.311-0.311h7.352\
      c0.171,0,0.451,0.008,0.622,0.019c0,0,2.038,0.122,3.02,0.401c0.983,0.28,1.813,0.693,2.491,1.238\
      c0.678,0.546,1.199,1.221,1.562,2.027c0.363,0.806,0.545,1.739,0.545,2.8c0,0.786-0.088,1.491-0.265,2.115\
      c-0.177,0.624-0.433,1.179-0.766,1.665c-0.334,0.487-0.737,0.912-1.209,1.275c-0.472,0.363-1.002,0.678-1.592,0.943l4.497,8.495\
      c0.08,0.151,0.146,0.321,0.146,0.378s-0.14,0.103-0.311,0.103h-4.124c-0.171,0-0.375-0.125-0.453-0.277L263.806,39.151z\
      M260.142,34.981c0,0.171,0.14,0.311,0.311,0.311h2.945c0.171,0,0.451-0.01,0.622-0.022c0,0,0.778-0.054,1.215-0.207\
      c0.437-0.152,0.801-0.368,1.091-0.649c0.29-0.28,0.508-0.614,0.656-1.002c0.147-0.388,0.221-0.823,0.221-1.304\
      c0-1.012-0.287-1.808-0.862-2.388c-0.575-0.58-1.457-0.869-2.645-0.869h-3.241c-0.171,0-0.311,0.14-0.311,0.311V34.981z")
      path(d="M0.5,36c0-0.067,0.017-0.134,0.052-0.194L20.697,0.914c0.069-0.12,0.197-0.194,0.336-0.194h3.582\
      c0.139,0,0.267,0.074,0.336,0.194c0.069,0.12,0.069,0.268,0,0.388L13.017,21.971H22.5L34.657,0.914\
      c0.069-0.12,0.197-0.194,0.336-0.194h3.582c0.139,0,0.267,0.074,0.336,0.194c0.069,0.12,0.069,0.268,0,0.388l-18.914,32.76h9.482\
      L48.618,0.914c0.069-0.12,0.197-0.194,0.336-0.194c0.139,0,0.267,0.074,0.336,0.194l8.771,15.192c0.069,0.12,0.069,0.268,0,0.388\
      L46.799,36L58.06,55.506c0.069,0.12,0.069,0.268,0,0.388l-8.771,15.192c-0.069,0.12-0.197,0.194-0.336,0.194\
      c-0.139,0-0.267-0.074-0.336-0.194L36.46,50.029h-9.482l11.934,20.669c0.069,0.12,0.069,0.268,0,0.388\
      c-0.069,0.12-0.197,0.194-0.336,0.194h-3.582c-0.139,0-0.267-0.074-0.336-0.194L15.52,37.939H6.037l18.914,32.759\
      c0.069,0.12,0.069,0.268,0,0.388c-0.069,0.12-0.197,0.194-0.336,0.194h-3.582c-0.139,0-0.267-0.074-0.336-0.194L0.552,36.194\
      C0.517,36.134,0.5,36.067,0.5,36z M10.779,25.849l-4.741,8.212h9.482l4.741-8.212H10.779z M29.48,37.939h-9.482l4.741,8.212\
      h9.482L29.48,37.939z M48.953,8.088L32.838,36l4.741,8.212L53.695,16.3L48.953,8.088z M44.56,39.878l-4.741,8.212l9.135,15.822\
      l4.741-8.212L44.56,39.878z")
