extends layout

block content
  section
    div(tabindex="0")
      button Tab 1
      p  Tab Content #1
    div(tabindex="0")
      button Tab 2
      p  Content for Tab #2
    div(tabindex="0")
      button Tab 3
      p  #3 Tab Content
  p.p  Demo By Tim Evko.
    a(href="http://www.sitepoint.com/you-dont-need-javascript-for-that" target="_blank")  See article
