extends layout

block content

  input#li0(type="radio", name="foo")
  label(for="li0")
  input#li1(type="radio", checked="", name="foo")
  label(for="li1")
  input#li2(type="radio", name="foo")
  label(for="li2")
  input#li3(type="radio", name="foo")
  label(for="li3")
  input#li4(type="radio", name="foo")
  label(for="li4")
  input#li5(type="radio", name="foo")
  label(for="li5")
