<!DOCTYPE html>
<html>
<head>
  <title>Front-End Helper</title>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Front-End Helper">
  <meta name="author" content="Anton Nikolenko">
  <meta name="keywords" content="html,js,javascript">
  <link rel="stylesheet" href="/stylesheets/animation/animate-timer/style.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>

  {{{body}}}

  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/animation/animate-timer/index.js" type="text/javascript"></script>
</body>
</html>
