<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4><a href="/tabs/chrome-tabs" title="Chrome Tabs">Chrome Tabs</a></h4>
      <h6>Reference</h6>
      <a href="https://github.com/adamschwartz/chrome-tabs" title="">adamschwartz/chrome-tabs</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/tabs/tabs-widget" title="Tabs Widget">Tabs Widget</h4>
      <h6>Reference</h6>
      <a href="http://www.sitepoint.com/you-dont-need-javascript-for-that">Demo by Tim Evko.</a>
    </div>
  </div>
</div>
