<div class="chrome-tabs-shell">
    <div class="chrome-tabs">
        <div class="chrome-tab">
            <div class="chrome-tab-favicon" style="background-image: url('demo/images/google-favicon.png')"></div>
            <div class="chrome-tab-title">Google</div>
            <div class="chrome-tab-close"></div>
            <div class="chrome-tab-curves">
                <div class="chrome-tab-curves-left-shadow"></div>
                <div class="chrome-tab-curves-left-highlight"></div>
                <div class="chrome-tab-curves-left"></div>
                <div class="chrome-tab-curves-right-shadow"></div>
                <div class="chrome-tab-curves-right-highlight"></div>
                <div class="chrome-tab-curves-right"></div>
            </div>
        </div>
        <div class="chrome-tab chrome-tab-current">
            <div class="chrome-tab-favicon" style="background-image: url('demo/images/facebook-favicon.ico')"></div>
            <div class="chrome-tab-title">Facebook</div>
            <div class="chrome-tab-close"></div>
            <div class="chrome-tab-curves">
                <div class="chrome-tab-curves-left-shadow"></div>
                <div class="chrome-tab-curves-left-highlight"></div>
                <div class="chrome-tab-curves-left"></div>
                <div class="chrome-tab-curves-right-shadow"></div>
                <div class="chrome-tab-curves-right-highlight"></div>
                <div class="chrome-tab-curves-right"></div>
            </div>
        </div>
    </div>
    <div class="chrome-shell-bottom-bar"></div>
</div>
