<div class="container top-space">
  <div class="row">
    <div class="col-xs-3">
      <h4><a href="/animation/animation-menu" title="Animation Menu">Animation Menu</a></h4>
      <h6>Reference</h6>
      <a href="http://codepen.io/scottdavis/pen/rEwqp" title="">http://codepen.io/scottdavis/pen/rEwqp</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/animation/alternative-js-clock">Alternative JS Clock</a></h4>
      <h6>Reference</h6>
      <a href="http://cssdeck.com/labs/k0lb4giv" title="">http://cssdeck.com/labs/k0lb4giv</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/animation/reloj">Reloj</a></h4>
      <h6>Reference</h6>
      <a href="http://codepen.io/fernandocasaliba/pen/vOdqYP" title="">http://codepen.io/fernandocasaliba/pen/vOdqYP</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/animation/sliding-radio-button-menu">Slide Radio Button Menu</a></h4>
      <h6>Reference:</h6>
      <a href="http://codepen.io/rileyjshaw/pen/Nqqxaj" title="">http://codepen.io/rileyjshaw/pen/Nqqxaj</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/animation/animate-timer">Animate Timer</a></h4>
      <h6>Reference</h6>
      <a href="http://codepen.io/paulnoble/pen/NqxdLm"title="">http://codepen.io/paulnoble/pen/NqxdLm</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/animation/thank-you-animation">Thank You Animation</a></h4>
      <h6>Reference</h6>
      <a href="http://codepen.io/rachsmith/pen/doNVQe"title="">http://codepen.io/rachsmith/pen/doNVQe</a>
    </div>
    <div class="col-xs-3">
      <h4><a href="/animation/animating-gradient">Animating Gradient</a></h4>
      <h6>Reference</h6>
      <a href="http://codepen.io/codycurley/pen/bdqevE"title="">http://codepen.io/codycurley/pen/bdqevE</a>
    </div>
  </div>
</div>
