extends layout

block content
  .container.top-space
    .row
      .col-xs-3
        h4
          a(href="/animation/animation-menu" title="Animation Menu") Animation Menu
        h6 Reference
        a(href="http://codepen.io/scottdavis/pen/rEwqp") http://codepen.io/scottdavis/pen/rEwqp
      .col-xs-3
        h4
          a(href="/animation/alternative-js-clock")  Alternative JS Clock
        h6 Reference
        a(href="http://cssdeck.com/labs/k0lb4giv")  http://cssdeck.com/labs/k0lb4giv
      .col-xs-3
        h4
          a(href="/animation/reloj")  Reloj
        h6  Reference
        a(href="http://codepen.io/fernandocasaliba/pen/vOdqYP")  http://codepen.io/fernandocasaliba/pen/vOdqYP
      .col-xs-3
        h4
          a(href="/animation/sliding-radio-button-menu")  Slide Radio Button Menu
        h6  Reference
        a(href="http://codepen.io/rileyjshaw/pen/Nqqxaj")  http://codepen.io/rileyjshaw/pen/Nqqxaj
      .col-xs-3
        h4
          a(href="/animation/animate-timer")  Animate Timer
        h6  Reference
        a(href="http://codepen.io/paulnoble/pen/NqxdLm")  http://codepen.io/paulnoble/pen/NqxdLm
      .col-xs-3
        h4
          a(href="/animation/thank-you-animation")  Thank You Animation
        h6  Reference
        a(href="http://codepen.io/rachsmith/pen/doNVQe")  http://codepen.io/rachsmith/pen/doNVQe
      .col-xs-3
        h4
          a(href="/animation/animating-gradient")  Animating Gradient
        h6  Reference
        a(href="http://codepen.io/codycurley/pen/bdqevE")  http://codepen.io/codycurley/pen/bdqevE
